# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/
*.egg

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache
pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db